body
{
    overflow-x: auto;
    background: no-repeat fixed url("https://static.wixstatic.com/media/11062b_37dedb80d2a040feba51dac3f2353f53~mv2.jpg/v1/fill/w_1899,h_929,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_37dedb80d2a040feba51dac3f2353f53~mv2.jpg");
    width: 100%;
    height: auto;
}

small
{
    font-style: italic;
    font-family: sans-serif;
    font-size: small;
    color: red;
    visibility: hidden;
}

#bordermother
{
    width: 40%;
    height: auto;
    background-color: #F3F6F4;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: 30%;
}

.manage-heading
{
    margin-top: 20%;
    text-align: center;
    font-family: sans-serif;
    color: #3F7652;
    font-size: 300%;
}



input[type=text]
{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    background-color: #E1E7E3;
}

input[type=number]
{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    background-color: #E1E7E3;
}

input[type=file]
{
    max-width: 90%;
    border-radius: 5px;
    background-color: #E1E7E3;
}

.booktype
{
    flex: 50%;
    margin-left: 10%;
    width: 80%;
    font-family: sans-serif;
    color: #3F7652;
}

textarea
{
    height: 200px;
    width: 90%;
    background-color: #E1E7E3;
}

input[type=submit]:hover
{
    background-color: darkgreen;
}

input[type=reset]:hover
{
    background-color: darkkhaki;
}

.container {
    font-family: sans-serif;
    border:2px solid #ccc;
    overflow-y: scroll;
    height: 100px;
    border-radius: 5px;
    background-color: #E1E7E3
}

.flex-row
{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    color: #3F7652;
    text-align: left;
    size: 16px;
}

.leftside
{
    flex: 50%;
    margin-left: 10%;
}

.rightside
{
    flex: 50%;
    padding-left: 10%;
}

.testalign
{
    font-family: sans-serif;
    text-align: center;
    color: #3F7652;
    font-size: 100%;
    margin-bottom: 10%;
}

.this-is-the-class-hold-class-button
{
    margin-left: 10%;
}
.button
{
    text-align: left;
}
.button-design
{
    padding: 3%;
    width: 15%;
    text-decoration: none;
    background-color: #3F7652;
    color: whitesmoke;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.button-design:hover
{
    background-color: darkred;
}


li
{
    list-style: none;
}
a
{
    color: #000;
    text-decoration: none;
}
header
{
    position: relative;
    padding: 0 2rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header-img
{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav
{
    color: #220d10;
}
nav > ul {
    font-size: large;
    color: #220d10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > ul > li
{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
}

nav > ul > li:last-child
{
    margin-right: 0;
}

#manage
{
    margin-top: 0px;
    margin-bottom: auto;
    position: relative;
    font-family: "Raleway", sans-serif;
    background-color: transparent;
}
