.flex-collum
{
    display: flex;
    flex-direction: column;
}
.flex-row
{
    display: flex;
    flex-direction: row;
}


.leftside-inside
{
    flex: 15%;
    text-align: center;
    background-color: #eef2c9;
}

.rightside-inside
{
    flex: 70%;
    background-color: #ffef98;
    text-align: center;
    font-size: 16px;
}

.leftside-side-for-rating
{
    flex: 50%;
}

.rightside-side-for-status
{
    flex: 50%;
}

.leftside-comment-name
{
    flex: 10%;
    padding-left: 100px;
}

.rightside-comment-date
{
    flex: 10%;
}

.book-image
{
    max-width: 25%;
    padding-top: 10%;
}

.booktitle
{
    font-style: italic;
    font-size: 56px;
}
.bookauthor
{
    font-family:Arial;
    font-style: inherit;
}
.aboutthebook1
{
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    padding-left: 100px;
    font-style: italic;
}
.aboutthebook2
{
    font-family: 'Franklin Gothic Medium';
    text-align: right;
    padding-right: 100px;
    font-style: italic;
}
.overview
{
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    padding-left: 100px;
}
.overviewofoverview
{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right: 100px;
}
.comment-section
{
    margin-top: 0px;
    background-color: #a3f7ba;
    padding-left: 100px;
    text-align: justify;
}
.comment-heading
{
    font-style: italic;
    font-size: 24px;
}
.comment-person
{
    font-family: sans-serif;
    font-size: 16px;
}
.finally-here-is-the-comment
{
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    padding-left: 100px;
    border-bottom: 1px black solid;
    letter-spacing: 1px;
}
.this-is-the-class-hold-class-button
{
    margin-right: 10%;
}
.button
{
    text-align: right;
}
.button-design
{
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    background-color: #446472;
    color: whitesmoke;
    border-radius: 30px;
}
.button-design:hover
{
    background-color: darkcyan;
}



li
{
    list-style: none;
}
a
{
    color: #000;
    text-decoration: none;
}
header
{
    position: relative;
    padding: 0 2rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header-img
{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav
{
    color: #220d10;
}
  nav > ul {
    font-size: large;
    color: #220d10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
nav > ul > li
{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
}
  
nav > ul > li:last-child
{
    margin-right: 0;
}

#manage
{
    margin-top: 0px;
    margin-bottom: auto;
    position: relative;
    font-family: "Raleway", sans-serif;
    background-color: transparent;
}
