body
{
    overflow-x: auto;
    background: no-repeat fixed url("https://static.wixstatic.com/media/11062b_37dedb80d2a040feba51dac3f2353f53~mv2.jpg/v1/fill/w_1899,h_929,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_37dedb80d2a040feba51dac3f2353f53~mv2.jpg");
    width: 100%;
    height: auto;
}

input[type=text]
{
    width: 10%;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
    margin-left: 1200px;
}

.booklist
{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(155, 241, 155);
    text-align: center;
    font-size: 50px;
}


.book-image
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    max-height: 120px;
}

table
{
    text-align: center;
    font-size: 100%;
    font-style: italic;
    font-family: serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #96D4D4;
}
table, th, td
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-color: transparent;
}

th
{
    font-size: 150%;
    font-style:normal;
}
tr:hover
{
    background-color: whitesmoke;
}
th
{
    color: red;
}

a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:hover
{
    text-decoration: underline;
}

li
{
    list-style: none;
}
a
{
    color: #000;
    text-decoration: none;
}
header
{
    position: relative;
    top: 0;
    padding: 0 2rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header-img
{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav
{
    color: #220d10;
}
  nav > ul {
    font-size: large;
    color: #220d10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
nav > ul > li
{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
}
  
nav > ul > li:last-child
{
    margin-right: 0;
}

#manage
{
    position: relative;
    font-family: "Raleway", sans-serif;
    background-color: transparent;
}